@use "../../assets/variables" as *;

.button {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-family: $text-font;
  font-size: $heading-size;
  background-color: $colour-primary;
  box-shadow: 3px 3px rgb(68, 67, 67);
  cursor: pointer;
  &:active {
    transform: scale(0.95);
  }
}
