@use "../../assets/variables" as *;

* {
  margin: 0;
  padding: 0;
}

.beerCard {
  margin: 20px;
  padding: 10px;
  width: 360px;
  height: 620px;
  border: 5px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $colour-secondary;

  &__image {
    width: auto;
    height: 250px;
  }

  &__name,
  &__text,
  &__heading {
    font-family: $text-font;
    margin: 5px;
  }

  &__name {
    margin-top: 20px;
    font-size: $name-size;
    font-weight: 700;
    color: $colour-tertiary;
  }

  &__heading {
    font-size: $heading-size;
    font-weight: 600;
  }

  &__text {
    font-size: $text-size;
    line-height: 36px;
    width: 100%;
  }

  &__info {
    height: 600px;
    width: 320px;
    padding: 0px 20px;
    border-radius: 15px;
    overflow: auto;
    white-space: pre-line;
    background: rgba($colour-primary, 0.95);
    position: absolute;
    z-index: 1;
  }

  &__cross {
    height: 25px;
    width: 25px;
    position: relative;
    left: 290px;
    top: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .beerCard {
    justify-content: flex-start;
    width: 300px;
    height: auto;

    &__image {
      width: auto;
      margin-top: 10px;
      height: 200px;
    }

    &__name,
    &__text,
    &__heading {
      font-family: $text-font;
    }

    &__name {
      font-size: $name-size-small;
      font-weight: 600;
    }

    &__heading {
      font-size: $heading-size-small;
      font-weight: 500;
    }

    &__text {
      font-size: $text-size-small;
      line-height: 26px;
    }

    &__info {
      height: 400px;
      width: 250px;
      padding: 0px 20px;
    }

    &__cross {
      height: 20px;
      width: 20px;
      position: relative;
      left: 230px;
      top: 20px;
    }
  }
}
