@use "../../assets/variables" as *;

.cardList {
  margin: 20px;
  background-color: $card-container-colour;
  border-radius: 20px;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .cardList {
    margin: 5px;
  }
}
