@use "../../assets/variables" as *;

.filter {
  display: flex;
  &__title {
    font-family: $text-font;
    font-size: $heading-size;
  }
  &__box {
    margin-left: 5px;
    cursor: pointer;
  }
}
