@use "../../assets/variables" as *;

.search-box {
  font-family: $text-font;
  &__title {
    font-size: $heading-size;
  }
  &__input {
    border: 2px solid $colour-tertiary;
    border-radius: 10px;
    padding-left: 10px;
    font-size: $heading-size;
    width: 60%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .search-box__input {
    width: 90%;
    height: 100%;
  }
}
