@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

$text-font: "Righteous", cursive;
$name-size: 34px;
$heading-size: 22px;
$text-size: 26px;
$colour-primary: #e55c36;
$colour-secondary: #f3b941;
$colour-tertiary: #3b5ba5;
$card-container-colour: rgba(218, 228, 228, 0.8);

$name-size-small: 28px;
$heading-size-small: 22px;
$text-size-small: 20px;
