@use "./assets/variables" as *;

.app {
  margin: 0;
  background-image: url("./assets/bubbles.jpg");
  background-size: cover;
}
.header {
  padding: 20px 0 0 30px;
  font-size: $name-size;
  font-family: $text-font;
  display: flex;
  align-items: flex-end;
  &__img {
    height: 100px;
  }
}
